yaml-generation/output/
yaml-generation/Experimental_Protein_Ligand/
yaml-generation-sea/outputs/
yaml-generation-sea/Experimental_Protein_Ligand
yaml-generation-sea/sea_results
yaml-generation-sea/*.zip